<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/whatsapp-text2csv/blob/main/pythonwhatsappregexupdate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the text from a file
with open('recruitment.txt', 'r') as file:
    text = file.read()

# Split the text based on the line containing "-------------------------"
data = text.split("-------------------------")

# Create a DataFrame with the data in a single column
df = pd.DataFrame({'Text': data})

# Save the DataFrame to a CSV file
df.to_csv('text_column.csv', index=False)

# Display the DataFrame
print(df)

                                                 Text
0   6/6/23, 11:55â€¯AM - +91 79075 57963: *STATE of ...
1   \n2. *Business Analyst* ( *Oil and Gas* )\nLoc...
2   ---\n3. *Project Manager*\nLocation: Austin Te...
3   -----\n4. *Tableau Software Developer*\nLocati...
4   -------\n5. *MuleSoft Architect/Developer*\nLo...
5   ---------\n6. *PeopleSoft Oracle Database Admi...
6   -------------\n7. *Senior Java Developer*\n*Cl...
7   -----------------\n8. *Healthcare Business Ana...
8   -------------------\n9. *SACWIS Project Manage...
9   ---------------------\n10. *PeopleSoft Financi...
10  ------------------------\n\n******************...

In [2]:
import pandas as pd
import re

def parse_file(FULL_PATH):
    '''Convert WhatsApp chat log text file to a Pandas dataframe.'''

    # some regex to account for messages taking up multiple lines
    pat = re.compile(r'^(\d+\/\d+\/\d\d.*?)(?=^^\d+\/\d+\/\d\d\,\*?)', re.S | re.M)
    with open(FULL_PATH, encoding = 'utf8') as raw:
        data = [m.group(1).strip().replace('\n', ' ') for m in pat.finditer(raw.read())]

    sender = []; message = []; datetime = []
    for row in data:

        # timestamp is before the first dash
        datetime.append(row.split(' - ')[0])

        # sender is between am/pm, dash and colon
        try:
            s = re.search('M - (.*?):', row).group(1)
            sender.append(s)
        except:
            sender.append('')

        # message content is after the first colon
        try:
            message.append(row.split(': ', 1)[1])
        except:
            message.append('')

    df = pd.DataFrame(zip(datetime, sender, message), columns=['timestamp', 'sender', 'message'])
    df['timestamp'] = pd.to_datetime(df.timestamp, format='%m/%d/%y, %I:%M %p')

    # remove events not associated with a sender
    df = df[df.sender != ''].reset_index(drop=True)
    df.to_csv('data.csv', index=False)
    return df

df = parse_file('recruitment.txt')

# **whats app text to csv conversion modifications working codes**

In [3]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('data.csv')

# Split the messages based on the delimiter "--------" and create a new DataFrame
split_df = df['message'].str.split("--------", expand=True)

# Create an empty list to store the modified rows
modified_rows = []

# Iterate over each row in the original DataFrame
for index, row in df.iterrows():
    # Get the message value from the original row
    message = row['message']

    # Split the message based on the delimiter "--------"
    message_parts = message.split("--------")

    # Iterate over each message part and create a new row
    for part in message_parts:
        # Create a new row with the same values as the original row
        new_row = row.copy()

        # Set the message part in the new row
        new_row['message'] = part.strip()

        # Append the new row to the modified_rows list
        modified_rows.append(new_row)

# Create a new DataFrame from the modified rows
new_df = pd.DataFrame(modified_rows)

# Save the modified DataFrame to a new CSV file
new_df.to_csv('modified_data.csv', index=False)


# import pandas as pd

# Read the CSV file
df = pd.read_csv('modified_data.csv')

# Remove rows where the 'message' column is empty
df = df[df['message'].notna()]

# Save the modified DataFrame to a new CSV file
df.to_csv('modified_datas.csv', index=False)

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('data.csv')

# Split the messages based on the delimiter "--------" and create a new DataFrame
split_df = df['message'].str.split("--------", expand=True)

# Create an empty list to store the modified rows
modified_rows = []

# Iterate over each row in the original DataFrame
for index, row in df.iterrows():
    # Get the message value from the original row
    message = row['message']

    # Split the message based on the delimiter "--------"
    message_parts = message.split("--------")

    # Iterate over each message part and create a new row
    for part in message_parts:
        # Create a new row with the same values as the original row
        new_row = row.copy()

        # Set the message part in the new row
        new_row['message'] = part.strip()

        # Append the new row to the modified_rows list
        modified_rows.append(new_row)

# Create a new DataFrame from the modified rows
new_df = pd.DataFrame(modified_rows)

# Save the modified DataFrame to a new CSV file
new_df.to_csv('modified_data.csv', index=False)
new_df.head(5)

,timestamp,sender,message
0,2023-06-06 11:55:00,+91 79075 57963,*STATE of TEXAS : DIRECT CLIENT :C2C Role : Pl...
0,2023-06-06 11:55:00,+91 79075 57963,
0,2023-06-06 11:55:00,+91 79075 57963,
0,2023-06-06 11:55:00,+91 79075 57963,- 2. *Business Analyst* ( *Oil and Gas* ) Loca...
0,2023-06-06 11:55:00,+91 79075 57963,

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('modified_data.csv')

# Remove rows where the 'message' column is empty
df = df[df['message'].notna()]

# Save the modified DataFrame to a new CSV file
df.to_csv('modified_datas.csv', index=False)
df.head(5)

,timestamp,sender,message
0,2023-06-06 11:55:00,+91 79075 57963,*STATE of TEXAS : DIRECT CLIENT :C2C Role : Pl...
3,2023-06-06 11:55:00,+91 79075 57963,- 2. *Business Analyst* ( *Oil and Gas* ) Loca...
6,2023-06-06 11:55:00,+91 79075 57963,---- 3. *Project Manager* Location: Austin Tex...
9,2023-06-06 11:55:00,+91 79075 57963,------ 4. *Tableau Software Developer* Locatio...
13,2023-06-06 11:55:00,+91 79075 57963,5. *MuleSoft Architect/Developer* Location: Au...

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('modified_data.csv')

# Split the messages based on the delimiter "--------" and create a new DataFrame
split_df = df['message'].str.split("--------", expand=True)

# Replace the original message column with the split parts
df['message'] = split_df[0]

# Concatenate the split parts and remove blank columns
for col in split_df.columns[1:]:
    df['message'] += split_df[col].fillna('')

# Remove rows where the 'message' column is empty
df = df[df['message'].ne('')]

# Save the modified DataFrame to a new CSV file
df.to_csv('modified_datas.csv', index=False)
df.head(5)

,timestamp,sender,message
0,2023-06-06 11:55:00,+91 79075 57963,*STATE of TEXAS : DIRECT CLIENT :C2C Role : Pl...
1,2023-06-06 11:55:00,+91 79075 57963,NaN
2,2023-06-06 11:55:00,+91 79075 57963,NaN
3,2023-06-06 11:55:00,+91 79075 57963,- 2. *Business Analyst* ( *Oil and Gas* ) Loca...
4,2023-06-06 11:55:00,+91 79075 57963,NaN

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('data.csv')

# Split the messages based on the delimiter "--------" and create a new DataFrame
split_df = df['message'].str.split("--------", expand=True)

# Replace the original message column with the split parts
df['message'] = split_df[0]

# Iterate over the remaining columns and concatenate them to the message column
for col in split_df.columns[1:]:
    df['message'] = df['message'].fillna('') + split_df[col].fillna('')

# Remove blank messages
df = df[df['message'].str.strip() != '']

# Remove specific rows based on a condition
df = df[~df['message'].str.contains('Specific Keyword')]

# Reset the index
df = df.reset_index(drop=True)

# Save the modified DataFrame to a new CSV file
df.to_csv('modified_data.csv', index=False)
df.head(5)

,timestamp,sender,message
0,2023-06-06 11:55:00,+91 79075 57963,*STATE of TEXAS : DIRECT CLIENT :C2C Role : Pl...

**Remove CSV files**

In [ ]:
import os
import glob

In [ ]:
print(glob.glob("*"))

['split_message_42.csv', 'split_message_14.csv', 'split_message_35.csv', 'split_message_23.csv', 'split_message_20.csv', 'split_message_10.csv', 'split_message_8.csv', 'split_message_17.csv', 'split_message_24.csv', 'split_message_34.csv', 'split_message_19.csv', 'split_message_4.csv', 'text_column.csv', 'split_message_29.csv', 'split_message_40.csv', 'split_message_3.csv', 'split_message_36.csv', 'split_message_15.csv', 'split_message_12.csv', 'split_message_38.csv', 'split_message_37.csv', 'split_message_11.csv', 'split_message_21.csv', 'concatenated_messages.csv', 'split_message_26.csv', 'split_message_31.csv', 'modified_data.csv', 'whatsapp_chat.csv', 'split_data.csv', 'split_message_33.csv', 'split_message_2.csv', 'split_message_27.csv', 'split_message_5.csv', 'split_message_7.csv', 'split_message_25.csv', 'data.csv', 'split_message_41.csv', 'split_message_6.csv', 'split_message_32.csv', 'whatsapp_chat_modified.csv', 'split_message_30.csv', 'split_message_28.csv', 'split_message_18.csv', 'split_message_13.csv', 'split_message_22.csv', 'split_message_16.csv', 'split_message_39.csv', 'split_message_9.csv', 'recruitment.txt', 'sample_data']

In [ ]:
for file in glob.glob("*.csv"):
    os.remove(file)